In [12]:
#위/아래로 붙이기 
# 이번에는 데이터프레임을 위/아래로 이어 붙여 보겠습니다. 
# 두 개의 데이터프레임의 컬럼을 기준으로 정렬한 후 위/아래로 붙여서 
# 새로운 데이터프레임을 생성할 수 있습니다. 
from pandas import DataFrame
import pandas as pd

# 첫 번째 데이터프레임
data = {
    '종가': [113000, 111500],
    '거래량': [555850, 282163]
}
index = ["2019-06-21", "2019-06-20"]
df1 = DataFrame(data, index=index)

# 두 번째 데이터프레임
data = {
    '종가': [110000, 483689],
    '거래량': [109000, 791946]
}
index = ["2019-06-19", "2019-06-18"]
df2 = DataFrame(data, index=index)

print( df1 )
print( df2 )

                종가     거래량
2019-06-21  113000  555850
2019-06-20  111500  282163
                종가     거래량
2019-06-19  110000  109000
2019-06-18  483689  791946

In [13]:
# 데이터프레임이 여러 개인 경우 concat 함수를 사용하면 편리합니다.
print("---concat메서드로 위아래 붙이기---")
df = pd.concat([df1, df2])
df

---concat메서드로 위아래 붙이기---

                종가     거래량
2019-06-21  113000  555850
2019-06-20  111500  282163
2019-06-19  110000  109000
2019-06-18  483689  791946

In [14]:
#Merge
# 판다스의 merge는 데이터프레임을 '병합'합니다. 
# concat이 단순히 두 데이터프레임을 이어 붙이는 연결이라면 
# merge는 특정 컬럼의 값을 기준으로 데이터를 병합합니다. 
from pandas import DataFrame
import pandas as pd

# 첫 번째 데이터프레임
data = [
    ["전기전자", "005930", "삼성전자", 74400],
    ["화학", "051910", "LG화학", 896000],
    ["전기전자", "000660", "SK하이닉스", 101500]
]

columns = ["업종", "종목코드", "종목명", "현재가"]
df1 = DataFrame(data=data, columns=columns)

# 두 번째 데이터프레임
data = [
    ["은행", 2.92],
    ["보험", 0.37],
    ["화학", 0.06],
    ["전기전자", -2.43]
]

columns = ["업종","등락률"]
df2 = DataFrame(data=data, columns=columns)

print( df1 )
print( df2 )

     업종    종목코드     종목명     현재가
0  전기전자  005930    삼성전자   74400
1    화학  051910    LG화학  896000
2  전기전자  000660  SK하이닉스  101500
     업종   등락률
0    은행  2.92
1    보험  0.37
2    화학  0.06
3  전기전자 -2.43

In [15]:
print("---merge메서드로 붙이기---")
df = pd.merge(left=df1, right=df2, on='업종')
df

---merge메서드로 붙이기---

     업종    종목코드     종목명     현재가   등락률
0  전기전자  005930    삼성전자   74400 -2.43
1    화학  051910    LG화학  896000  0.06
2  전기전자  000660  SK하이닉스  101500 -2.43

In [17]:
# how 파라미터를 사용해서 합치는 방법을 지정할 수 있습니다. 
# 'inner' 모드를 사용하면 df1과 df2의 교집합, 
# 'outer' 모드를 사용하면 합집합으로 병합됩니다. 
# 모드에 따른 동작은 concat에서 사용해 본 것처럼 일관성 있게 
# 설계돼 있습니다. 
# 추가로 merge에서 사용할 수 있는 left, right 옵션에 
# 대해 알아봅시다. 추가 옵션에 사용할 데이터를 우선 정의합니다. 
# 이전 코드에서 df1의 데이터만 일부 변경했습니다.
# 첫 번째 데이터프레임
data = [
    ["전기전자", "005930", "삼성전자", 74400],
    ["화학", "051910", "LG화학", 896000],
    ["서비스업", "035720", "카카오", 121500]
]

columns = ["업종", "종목코드", "종목명", "현재가"]
df1 = DataFrame(data=data, columns=columns)

# 두 번째 데이터프레임
data = [
    ["은행", 2.92],
    ["보험", 0.37],
    ["화학", 0.06],
    ["전기전자", -2.43]
]

columns = ["업종", "등락률"]
df2 = DataFrame(data=data, columns=columns)

print(df1)
print(df2)

     업종    종목코드   종목명     현재가
0  전기전자  005930  삼성전자   74400
1    화학  051910  LG화학  896000
2  서비스업  035720   카카오  121500
     업종   등락률
0    은행  2.92
1    보험  0.37
2    화학  0.06
3  전기전자 -2.43

In [20]:
# 두 데이터프레임을 병합할 때 left 옵션을 사용해 보겠습니다. 
# 이는 left 파라미터에 입력된 데이터프레임 df1을 기준으로 
# 두 데이터프레임을 병합합니다.
print("---merge메서드에서 how=left지정하기---")
# df = pd.merge(left=df1, right=df2, 
#     how='left', 
#     on='업종')
df = pd.merge(left=df1, right=df2, 
    how='outer', 
    on='업종')
df

---merge메서드에서 how=left지정하기---

     업종    종목코드   종목명       현재가   등락률
0    보험     NaN   NaN       NaN  0.37
1  서비스업  035720   카카오  121500.0   NaN
2    은행     NaN   NaN       NaN  2.92
3  전기전자  005930  삼성전자   74400.0 -2.43
4    화학  051910  LG화학  896000.0  0.06

In [7]:
# 두 데이터프레임을 병합할 때 right 옵션을 사용해 보겠습니다. 
# 이는 right 파라미터에 입력된 데이터프레임 df1을 기준으로 
# 두 데이터프레임을 병합합니다.
print("---merge메서드에서 how=right지정하기---")
df = pd.merge(left=df1, right=df2, 
    how='right', on='업종')
df

---merge메서드에서 how=right지정하기---

     업종    종목코드   종목명       현재가   등락률
0    은행     NaN   NaN       NaN  2.92
1    보험     NaN   NaN       NaN  0.37
2    화학  051910  LG화학  896000.0  0.06
3  전기전자  005930  삼성전자   74400.0 -2.43

In [21]:
# 만약 두 데이터프레임의 컬럼이 다르다면 어떻게 해야 할까요? 
# 물론 컬럼의 이름을 변경하고 데이터프레임을 합칠 수 있지만, 
# 코드의 양만 많아집니다. 
# 다음 예제와 함께 merge의 옵션을 사용해서 한 번에 문제를 해결해 봅시다. 
# 이전 코드에서 두 번째 데이터프레임의 컬럼 이름만을 다르게 정의했습니다.
# 첫 번째 데이터프레임
data = [
    ["전기전자", "005930", "삼성전자", 74400],
    ["화학", "051910", "LG화학", 896000],
    ["서비스업", "035720", "카카오", 121500]
]

columns = ["업종", "종목코드", "종목명", "현재가"]
df1 = DataFrame(data=data, columns=columns)

# 두 번째 데이터프레임
data = [
    ["은행", 2.92],
    ["보험", 0.37],
    ["화학", 0.06],
    ["전기전자", -2.43]
]

columns = ["항목", "등락률"]
df2 = DataFrame(data=data, columns=columns)
print(df1)
print(df2)

     업종    종목코드   종목명     현재가
0  전기전자  005930  삼성전자   74400
1    화학  051910  LG화학  896000
2  서비스업  035720   카카오  121500
     항목   등락률
0    은행  2.92
1    보험  0.37
2    화학  0.06
3  전기전자 -2.43

In [22]:
# 두 데이터프레임의 컬럼 이름이 다르기 때문에 합칠 기준이되는 각 컬럼의 이름을 
# 모두 입력해야 합니다. 
# left_on와 right_on 파라미터에 두 컬럼 이름을 넣습니다.
print("---기준이 되는 컬럼명이 다른 경우---")
df = pd.merge(left=df1, 
    right=df2, left_on='업종',
    right_on='항목')
df

---기준이 되는 컬럼명이 다른 경우---

     업종    종목코드   종목명     현재가    항목   등락률
0  전기전자  005930  삼성전자   74400  전기전자 -2.43
1    화학  051910  LG화학  896000    화학  0.06

In [24]:
import numpy as np
#아래와 같은 간단한 데이터에 대한 통계를 구해봅니다. 
df = DataFrame({'key1':['a','a','b','b','a'], 
                'key2':['one','two','one','two','one'], 
                'data1':np.random.randn(5), 
                'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one -0.976443  0.822150
1    a  two  1.919687 -1.938181
2    b  one -1.055374 -0.103016
3    b  two -0.807908  0.274640
4    a  one -0.222363 -0.186607

In [29]:
#그룹으로 생성해서 집계된 데이터에 접근합니다. 
grouped = df.groupby("key1")["data1"] 
grouped

In [31]:
print(grouped.mean())
print(grouped.sum())
print(grouped.count())

key1
a    0.240294
b   -0.931641
Name: data1, dtype: float64
key1
a    0.720881
b   -1.863282
Name: data1, dtype: float64
key1
a    3
b    2
Name: data1, dtype: int64

In [35]:
# 그룹핑을 할 때 여러개 컬럼을 복합으로 사용(함수체인, 메서드체인)
df.groupby(["key2","key1"])["data1"].mean()

key2  key1
one   a      -0.599403
      b      -1.055374
two   a       1.919687
      b      -0.807908
Name: data1, dtype: float64